<div class="content-box">
  <div class ="paginate">
        <%= paginate @users %>
  </div>
	<div class="row">
		<% if @users.any? %>
			<% @users.each do |user| %>
				<ul class="follow_users">
					<%= link_to user_path(user) do %> 
					<%= attachment_image_tag user, :image, class: "img-circle pull-left profile-img inline-box", fallback: "users/no_image.png" %>
					<h3><%= user.name %></h3>
					<% end %>
<!-- 					<% if user != current_user %>
					<%#= render "users/follow_form", user: user %>
					<% end %> -->
				</ul>
				<hr>
			<% end %>
		<% end %>
	</div>
	<div class ="paginate">
        <%= paginate @users %>
  </div>
</div>