<%= form_with model:@system,url: systems_path(@system), local: true do |f| %>
	<div class="system_form">
		<%= attachment_image_tag @character, :image,fallback: "characters/no_image.png"%>
        <p><%= f.attachment_field :image, id:"attachmentImage"%></p>
		<%= f.label :システム名 %>
		<%= f.text_field :title, class: "system_form" %>
		<%= f.submit '追加', class: "btn btn-primary" %>
	</div>
<% end %>
