<div class="content-box">
    <div class ="row">
        <div class="title">
            <h1>システム一覧画面</h1>
        </div>
        <div class="main-content">
            <div class="col-xs-3">
                <%= render 'users/user_box', user: @user%>
            </div>
            <div class="col-xs-9">        	
		   	<h3>システム一覧</h3>
				<% @systems.each do |system| %>
					<div class="card-form-wrapper">
    		            <div class="system-card-wrapper">
    		               <%= link_to system_path(system) do %>
            		        	<div class= 'status-card'>
                    		    	<div class="status-image">
                            			<%= attachment_image_tag system, :image,:width =>'95%' ,fallback: "users/no_image.png"%>
                        			</div>
                        			<div class="status-title">
                            			<%= system.title %>
                        			</div>
                    			</div>
                    		<% end %>
		               	</div>
		               	<div class="system-follow-form">
							<%= render "systems/follow" ,system: system %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
			<hr>
	<h3>システム追加</h3>
		<div class="new-form">
			<%= render partial: 'systems/new_form', flash: flash %>
    	</div>
    </div>
</div>