<!DOCTYPE html>
<html>
  <head>
    <title>Stellaletter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">

  </head>

  <body>
    <div class="header-wrapper">
      <div class="header">
        <%= render 'layouts/header' %>
      </div>
    </div>
    <div class="content-wrapper">
      <div class="body container">
        <%= render 'layouts/flash' %>
        <%= yield %>
      </div>
    </div>
    <div class="footer-wrapper">
      <div class="footer">
        <%= render 'layouts/footer' %>
      </div>
    </div>
  </body>
</html>
